<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntu.mapper.student.StudentMapper">
    <resultMap id="StudentAllScore" type="Student">
        <id property="s_id" column="s_id"/>
        <result property="s_name" column="s_name"/>
        <result property="count" column="count"/>
        <result property="sum" column="sum"/>
    </resultMap>
    <select id="getStudentAllScore" resultMap="StudentAllScore">
        select s1.s_id,s1.s_name,COUNT(s2.s_score) count,SUM(s2.s_score) sum
        from student s1 left join Score s2 on s1.s_id = s2.s_id GROUP BY s2.s_id
    </select>

    <resultMap id="OneMaxTwo" type="Student">
        <id property="s_id" column="s_id"/>
        <result property="s_name" column="s_name"/>
        <result property="s_birth" column="s_birth"/>
        <result property="s_sex" column="s_sex"/>
        <result property="score1" column="score1"/>
        <result property="score2" column="score2"/>
        <result property="c_name1" column="c_name1"/>
        <result property="c_name2" column="c_name2"/>
    </resultMap>
    <select id="getStudentOneMaxTwo" resultMap="OneMaxTwo">
        select s1.*,s2.c_name c_name1,s2.s_score score1,s3.c_name c_name2,s3.s_score score2 from student s1
        <trim>
            <if test="one!=null and one!=''">
                INNER JOIN
                (select s.*,c_name from score s INNER JOIN course c ON s.c_id = c.c_id) s2 on s1.s_id=s2.s_id AND s2.c_name=#{one}
            </if>
            <if test="two!=null and two!=''">
                INNER JOIN
                (select s.*,c_name from score s INNER JOIN course c ON s.c_id = c.c_id) s3 ON s1.s_id =s3.s_id AND s3.c_name =#{two}
            </if>
            <where>s2.s_score>s3.s_score</where>
        </trim>
    </select>
    <resultMap id="StudentNotOne" type="Student">
        <id property="s_id" column="s_id"/>
        <result property="s_name" column="s_name"/>
        <result property="s_birth" column="s_birth"/>
        <result property="s_sex" column="s_sex"/>
    </resultMap>
    <select id="getStudentNotOne" resultMap="StudentNotOne">
        select * from student s
        <where>
        <if test="one!=null and one!=''">
            s.s_id IN(select s.s_id from score s Left JOIN course c ON s.c_id = c.c_id WHERE c_name=#{one})
        </if>
        <if test="two!=null and two!=''">
                AND s.s_id NOT IN(select s.s_id from score s Left JOIN course c ON s.c_id = c.c_id WHERE c_name=#{two})
        </if>
        </where>
    </select>

    <select id="getStudentNotAll" resultMap="StudentNotOne">
        select s1.*,COUNT(1) from student s1 left join Score s2 on s1.s_id = s2.s_id GROUP BY s2.s_id HAVING 3>count(1)
    </select>

    <resultMap id="scoreAVG" type="Score">
        <id property="s_id" column="s_id"/>
        <result property="c_id" column="c_id"/>
        <result property="s_score" column="s_score"/>
        <result property="avg" column="avg"/>
    </resultMap>
    <select id="getStudentScore" resultMap="scoreAVG">
        SELECT s1.*,s2.avg FROM score s1
        LEFT JOIN (select *,AVG(s.s_score) avg FROM score s  GROUP BY s.s_id) s2
        ON s1.s_id = s2.s_id ORDER BY s2.avg DESC
    </select>


    <select id="getStudentTeacher" resultMap="StudentNotOne">
        select * from student s INNER JOIN score s1 ON s.s_id = s1.s_id INNER JOIN course c  ON s1.c_id = c.c_id
        INNER JOIN teacher t ON c.t_id=t.t_id
        <where>
        <if test="t!=null and t!=''">
            t.t_name=#{t}
        </if>
        </where>
    </select>
</mapper>