<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userBean" class="com.yuntu.entity.User" p:name="zhangsan" p:age="20"/>
    <bean id="userBean1" class="com.yuntu.entity.User" c:name="lisi" c:age="20"/>

    <bean id="userDaoImpl" class="com.yuntu.mapper.UserDaoImpl"/>
    <bean id="userService" class="com.service.com.yuntu.UserServiceImpl" p:userDao-ref="userDaoImpl"/>
    <bean id="userService1" class="com.service.com.yuntu.UserServiceImpl" c:_0-ref="userDaoImpl"/>

    <!--注入不同类型  集合类型和null值等-->
    <bean id="student" class="com.yuntu.entity.Student">
        <property name="name" value="张三"/>
        <property name="age" value="12"/>
        <property name="subjectResult">
            <array>
                <value>12</value>
                <value>23</value>
                <value>34</value>
            </array>
        </property>
        <property name="hobbys">
            <list>
                <value>琴</value>
                <value>棋</value>
                <value>书</value>
                <value>画</value>
            </list>
        </property>
        <property name="IDCard">
            <map>
                <entry key="身份证1" value="1231234231123"/>
                <entry key="身份证2" value="1234231231123"/>
                <entry key="身份证3" value="1231212331123"/>
            </map>
        </property>
        <property name="car">
            <set>
                <value>柯尼塞格</value>
                <value>雷克萨斯</value>
                <value>梅赛德斯</value>
            </set>
        </property>
        <property name="sqlCon">
            <props>
                <prop key="driver">com</prop>
                <prop key="url">jdbc:mysql://127.0.0.1</prop>
                <prop key="username">root</prop>
                <prop key="password">root</prop>
            </props>
        </property>
        <property name="EQ">
            <null/>
        </property>
    </bean>
</beans>