<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntu.mapper.UserMapper">
    <insert id="addUser" parameterType="User">
        insert into smbms_user(userCode,userName,userPassword)
        values (#{code},#{userName},#{userPassword})
    </insert>
    <delete id="delUser" parameterType="int">
        deletefrom smbms_user where id = #{id}
    </delete>

</mapper>