<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntu.mapper.student.StudentMapper">
<insert id="addStudents" parameterType="List">
    insert into student(s_id,s_name,s_birth,s_sex)
    <trim prefix="values" suffixOverrides=",">
    <foreach collection="list" item="student" separator=",">
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="student.s_id !=null and student.s_id!=''">
            #{student.s_id},
        </if>
        <if test="student.s_name !=null and student.s_name!=''">
            #{student.s_name},
        </if>
        <if test="student.s_birth !=null and student.s_birth!=''">
            #{student.s_birth},
        </if>
        <if test="student.s_sex !=null and student.s_sex!=''">
            #{student.s_sex}
        </if>
        </trim>
    </foreach>
    </trim>
</insert>


    <resultMap id="studentAndTeacher" type="Student">
        <id property="s_id" column="s_id"/>
        <result property="s_name" column="s_name"/>
        <result property="s_birth" column="s_birth"/>
        <result property="s_sex" column="s_sex"/>
        <association property="teacher" javaType="Teacher">
            <id property="t_id" column="t_id"/>
            <result property="t_name" column="t_name"/>
        </association>
    </resultMap>
    <select id="getTeacher" parameterType="String" resultMap="studentAndTeacher">
        select s.*,t.* from student s
        INNER JOIN score s1 ON s.s_id = s1.s_id
        INNER JOIN course c  ON s1.c_id = c.c_id
        INNER JOIN teacher t ON c.t_id=t.t_id
        <where>
            <if test="t!=null and t!=''">
                t.t_name=#{t}
            </if>
        </where>
    </select>

    <resultMap id="StudentID" type="Student">
        <result property="s_id" column="s_id"/>
    </resultMap>
    <select id="getStudent" parameterType="String" resultMap="StudentID">
        select s_id from student where s_name = #{name}
    </select>

    <delete id="delStudent" parameterType="String">
        delete from student where s_id=#{id};
    </delete>

    <delete id="delScore" parameterType="String">
        delete from score where s_id=#{id};
    </delete>

    <resultMap id="NoPass" type="Student">
        <id property="s_id" column="s_id"/>
        <result property="s_name" column="s_name"/>
        <result property="avg" column="a"/>
    </resultMap>
    <select id="getStudentNoPass" resultMap="NoPass">
        select s.s_id,s.s_name,t.a from student s
        INNER JOIN (select s_id,count(c_id) c,AVG(s_score) a from score
        WHERE 60>s_score GROUP BY s_id) t
        ON s.s_id = t.s_id
        WHERE t.c>=2
    </select>

    <resultMap id="StudentThree" type="Student">
        <id property="s_id" column="s_id"/>
        <result property="s_name" column="s_name"/>
        <result property="s_birth" column="s_birth"/>
        <result property="s_sex" column="s_sex"/>
        <result property="c_name" column="c_name"/>
        <result property="three" column="a"/>
    </resultMap>
    <select id="getStudentThree" resultMap="StudentThree">
        select s.*,t.a,t.c_id,c.c_name from student s
        INNER JOIN (select *,ROW_NUMBER() OVER (PARTITION BY c_id ORDER BY s_score DESC) a from score) t
        ON s.s_id = t.s_id
        INNER JOIN course c
        ON t.c_id = c.c_id
        <where>
        a in(1,2,3)
        </where>
    </select>
</mapper>